* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #283747;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin-left: 10%;
    padding: 30px 15px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 40px;
    color: #fff;
}

p {
    text-align: justify;
    margin-bottom: 10px;
    color: #fff;
}

.scrolling-pointer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
}

.scrolling-pointer .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5%;
    height: 50px;
    background-color: #e5e7e9;
    position: relative;
}

.navbar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    text-decoration: none;
    color: #85929e;
}

.navbar__link--current{
    color: #fff;
}

#link-one.navbar__link--current{
    background-color: #ffeb3b;
}

#link-two.navbar__link--current{
    background-color: #ff9800;
}

#link-three.navbar__link--current{
    background-color: #009688;
}

#link-four.navbar__link--current{
    background-color: #2196f3;
}

.porcion {
    height: 100vh; 
    line-height: 100vh;
    color: #fff;
}

#one {
    background-color: #ffeb3b;
}

#two {
    background-color: #ff9800;
}

#three {
    background-color: #009688;
}

#four {

    background-color: #2196f3;
}

@media screen and (max-width: 767px) {
    .container {
        width: 90%;
        margin-left: 1%;
    }
    
    .scrolling-pointer ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .scrolling-pointer .tab {
        width: 50%;
        height: 50px;
    }
}