* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6;
}

.container {
    width: 80%;
    margin-left: 10%;
    padding: 30px 15px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 40px;
}

p {
    text-align: justify;
    margin-bottom: 10px;
}

.scrolling-pointer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
}

.scrolling-pointer .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.5%;
    height: 50px;
    background-color: #E5E7E9;
    position: relative;
}

.navbar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    text-decoration: none;
    color: #85929E;
}

.navbar__link--current{
    background-color: dodgerblue;
    color: #fff;
}

#link-one.navbar__link--current{
    background-color: #ff6600;
}

#link-two.navbar__link--current{
    background-color: #E8A353;
}

#link-three.navbar__link--current{
    background-color: #3DA359;
}

#link-four.navbar__link--current{
    background-color: #198dfe;
}

.porcion {
    height: 100vh; 
    line-height: 100vh;
}

#one {
    background-color: deepskyblue;
}

#two {
    background-color: lawngreen;
}

#three {
    background-color: firebrick;
}

#four {

    background-color: aqua;
}

@media screen and (max-width: 767px) {
    .scrolling-pointer ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .scrolling-pointer .tab {
        width: 50%;
        height: 50px;
    }
}